<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="space">
    <a class="navbar-brand" href="/"
      ><img class="logo" src="/images/logoNav.png" width="80px" alt="logo"
    /></a> </div>
 
   <div class="etc">
       <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
  </div>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#about"> Haqqımızda</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >

          <!-- Dropdown menu -->

           Brendlər
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#"> Great Wall </a>
              <ul class="submenu dropdown-menu gw">
                <li>
                  <a class="dropdown-item" href="/catalog"> C30</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">C50</a>
                </li>
                <li></li>
                <li>
                  <a class="dropdown-item" href="/catalog"> M2</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> M4</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> H3</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">H5</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> H6</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">Wingle 5</a>
                </li>

                <li>
                  <a class="dropdown-item" href="/catalog"> Wingle 6</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> Wingle 7</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> Hover</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="#"> Changan </a>
              <ul class="submenu dropdown-menu cha">
                <li>
                  <a class="dropdown-item" href="/catalog"> Eado</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">Eado XT</a>
                </li>
                <li></li>
                <li>
                  <a class="dropdown-item" href="/catalog">CS 35</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">Honor</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> CX20</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">BM</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> NB</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">V3</a>
                </li>

                <li>
                  <a class="dropdown-item" href="/catalog"> V7</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> CS 75</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> RAETON</a>
                </li>
              </ul>


            </li>
            <li>

              <a class="dropdown-item" href="#"> Haval </a>
              <ul class="submenu dropdown-menu ha">
                <li>
                  <a class="dropdown-item" href="/catalog">H2</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog">H2 New</a>
                </li>
                <li></li>
                <li>
                  <a class="dropdown-item" href="/catalog">H6 New</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/catalog"> H9</a>
                </li>
              </ul>
            </li>
          </ul>
        </li> 
        <li class="nav-item"><a class="nav-link" href="#footer"> Əlaqə</a></li>
        <li class="nav-item"><a class="nav-link" href="#servis"> Servis</a></li>

        <li class="nav-item px-3 text-uppercase mb-0 position-relative d-lg-flex">
        
          <a href="/catalog" class="ccc cart position-relative d-inline-flex" width="50px" aria-label="View your shopping cart">
            <i class="fas  fa-shopping-cart fa-lg " ></i>
            <span class="cart-basket d-flex align-items-center justify-content-center">
              0
            </span>
          </a>
        </li>
        <li class="nav-item"> <a class="nav-link number" href="tel:+994775120000"><i class="fa fa-phone"></i>0775120000</a></li>
      </ul>
    </div>
    </div>
  </div>
</nav>