<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>


<section>
  <div class="container1">
    <h1 class="slogan">Tezliklə</h1>
    <p class="coming-soon" >Tezliklə burada öz avtomobilinizə ehtiyat hissələrini online sifariş verə biləcəksiniz!</p>
  </div>
  
</section>


<%- include("partials/footer"); -%>