<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>


<section>
  <div class="container1">
    <h1 class="slogan">Tezlikle</h1>
    <p class="coming-soon" >Tezliklə burada öz avtomobilivizə ehtiyat hissələrini online sifariş verə biləcəksiz!</p>
  </div>
  
</section>


<%- include("partials/footer"); -%>